= form_for @company, :url => admin_update_company_path(@company) do |f|
	= f.label :name
	= f.text_field :name

	= f.label :symbol
	= f.text_field :symbol

	= f.submit 'Save', :class => 'button small'